body
    margin: 0px 0px
    -ms-overflow-style: none
    scrollbar-width: none
    --animate-duration: 3s
    --animate-delay: 0.9s

body::-webkit-scrollbar 
    display: none

::selection 
    color: gray
